// Mixins in here
.custom-button(@color, @font-size, @bg-color){
    color: @color;
    font-size: @font-size;
    background:@bg-color;
}
.custom-flex(@justify, @align){
  display:flex;
  justify-content: @justify;
  align-items: @align;
}